
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  width: 90%;
  max-width: 750px;
  margin: 0 auto;
  font-family: "Franklin Gothic Book", "Franklin Gothic", Arial, sans-serif;
  font-size: 18px;
  line-height: 1.5;
  color: #333;
  padding-top: 40px;
  background-color: #ffffff;
}

h1, h2, h3 {
  color: #024890; 
  font-family: "Franklin Gothic Medium", "Franklin Gothic", Arial, sans-serif;
  margin: 5px 0;
}

h1 {
  line-height: 1.1;
}

a {
  color: #024890; 
  font-weight: bold;
  text-decoration: none;
}

a:hover {
  color: #f5b706; 
}

body > header {
  color: #024890; 
  margin-bottom: 40px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 15px;
  
}
header h1 {
  text-align: center;
}

header p {
  margin: 5px 0;
  font-family: "Franklin Gothic Book", "Franklin Gothic", Arial, sans-serif;
  font-size: 20px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav ul li {
  margin: 5px;
}

nav a {
  padding: 10px 15px;
  border-radius: 6px;
}

nav a:hover {
  background-color: #024890;
  color: white;
}

@media (min-width: 781px) {
  nav {
    width: 250px;
    float: right;
  }
  nav ul {
    justify-content: end;
  }
}

@media (max-width: 780px) {
  header {
    text-align: center;
  }
  nav ul {
    justify-content: center;
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
  }
  nav a {
    padding: 10px;
  }
}


main {
  padding: 10px 5px;
}

header img {
  width: 180px;
  height: auto;
  display: block;

}


main img {
  width: 35%;
  max-width: 220px;
  display: block;
  margin: 0 auto 20px;
  border-radius: 8px;
}

h2 {
  border-bottom: 3px solid #f5b706;
  padding-bottom: 6px;
  margin-top: 25px;
}

article {
  margin-bottom: 40px;
  border-bottom: 1px solid #e0e0e0;
  padding-bottom: 40px;
}

article:last-of-type {
  border: none;
  padding: 0;
}

article header p,
time {
  font-family: "Franklin Gothic Medium", "Franklin Gothic", Arial, sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
  color: #024890;
}

article h2 {
  margin-bottom: 0;
}

form {
  padding: 30px 25px;
  border: 1px solid #e0dfdf;
  background: #f6f6f6;
  border-radius: 10px;
}

fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

legend {
  font-size: 22px;
  font-weight: bold;
  font-family: "Franklin Gothic Medium", "Franklin Gothic", Arial, sans-serif;
  padding: 0 0 15px;
}

input, textarea, button {
  width: 100%;
  border-radius: 6px;
}

input, textarea {
  margin: 5px 0 15px;
  height: 34px;
  border: 1px solid #ccc;
  padding: 8px;
}

textarea {
  height: 120px;
}

button {
  font-weight: bold;
  background-color: #024890;
  color: white;
  font-size: 16px;
  height: 44px;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #012f5e;
}

footer {
  color: #024890; 
  border-top: 1px solid #ccc;
  margin-top: 50px;
  padding: 20px 0;
  text-align: center;
}
